/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs/index.js!./src/client/scss/main.scss ***!
  \**************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-y: hidden;
}

body {
  margin: auto;
  padding: 1% 5%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

h1,
a {
  color: #4F5B93;
  text-align: center;
}

a {
  color: #4F5B93;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section {
  width: 100%;
  flex-grow: 1;
  overflow-y: hidden;
}

aside,
article {
  position: relative;
  height: 100%;
  width: 50%;
  border: #4F5B93 thin solid;
  border-radius: 5px;
  padding: 1%;
  word-wrap: break-word;
  font-size: 0.8em;
}

.status {
  height: 26px;
  display: flex;
}
.status > p {
  font-weight: bold;
  line-height: 26px;
}

.flex_start {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.flex_end {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex_columns {
  display: flex;
  gap: 16px;
}
.flex_columns > * {
  flex: 1;
  min-width: 0;
  width: 100%;
}
.flex_columns {
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .flex_columns {
    flex-direction: row;
  }
}

.flex_grow_1 {
  flex-grow: 1;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.w_100 {
  width: 100%;
}

.loader {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  visibility: hidden;
}
.loader > div {
  width: 40px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #4F5B93;
  --_m:
      conic-gradient(#0000 10%, #000),
      linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.add_row {
  height: 26px;
}
.add_row > p {
  color: #4F5B93;
  font-weight: bold;
  display: inline-block;
  opacity: 0.8;
  transition: opacity 0.1s;
  cursor: pointer;
}
.add_row > p:hover {
  opacity: 1;
}

select,
button,
input {
  height: 26px;
  line-height: 26px;
  border-radius: 0;
  border: thin solid rgba(79, 91, 147, 0.7);
  padding: 0 10px;
}

select,
button {
  background-color: #4F5B93;
  color: white;
  text-align: center;
  cursor: pointer;
}
select.danger,
button.danger {
  background-color: #DC3545;
  border-color: #DC3545;
}

button,
select {
  border-radius: 4px;
}

.group_input {
  display: flex;
  align-items: center;
  justify-content: initial;
}
.group_input *:first-child {
  border-radius: 4px 0 0 4px;
}
.group_input *:last-child {
  border-radius: 0 4px 4px 0;
}
.group_input:has(> :nth-child(2):last-child) > :nth-child(2) {
  border-left: none;
}
.group_input:has(> :nth-child(3):last-child) > :nth-child(1) {
  border-right: none;
}
.group_input:has(> :nth-child(3):last-child) > :nth-child(3) {
  border-left: none;
}
.group_input:has(> :nth-child(2):last-child) > *, .group_input:has(> :nth-child(3):last-child) > :nth-child(2) {
  flex-grow: 1;
}
.group_input:has(> :nth-child(3):last-child):has(> :nth-child(1):is(input)) > :nth-child(1) {
  flex-grow: 1;
}

input:focus-visible {
  outline: none;
  border: thin solid #4f5b93;
}

.json-root,
.json-children {
  list-style-type: none;
  margin: 0;
}

.json-node .json-placeholder {
  display: none;
}
.json-node.children-collapsed {
  display: flex;
  align-items: center;
}
.json-node.children-collapsed .json-placeholder {
  display: block;
}

.json-children {
  padding-left: 14px;
}

.json-header {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 0;
}
.json-header > * {
  height: 16px;
}
.json-header:has(.json-toggle:hover) + .json-children {
  opacity: 0.3;
}
.json-header:has(.json-toggle:hover) ~ .json-placeholder {
  opacity: 1;
}

.json-toggle {
  width: 16px;
  height: 16px;
  user-select: none;
  cursor: pointer;
  color: #4F5B93;
}

.json-label {
  color: #4F5B93;
  font-weight: bold;
}

.json-value {
  padding: 2px 0;
}

.json-children {
  margin-left: 16px;
  border-left: 1px solid #ddd;
  padding-left: 12px;
}

.json-placeholder {
  opacity: 0.3;
}

.collapsed {
  display: none;
}

.context {
  cursor: pointer;
}

.popup {
  position: fixed;
  display: none;
  min-width: 200px;
  text-align: center;
  font-weight: bold;
  background-color: #4F5B93;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px grey;
  pointer-events: none;
}
.popup:before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: #4F5B93;
  left: 50%;
}
.popup .popup-body {
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup .popup-body p {
  height: 16px;
  line-height: 16px;
  font-size: 16px;
}
.popup .popup-body i {
  height: 16px;
  width: 16px;
}

.tabs {
  display: flex;
  height: 26px;
  gap: 16px;
  list-style: none;
  border-bottom: 1px solid #4F5B93;
}
.tabs .tab {
  position: relative;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-bottom: 1px solid #4F5B93;
  transition: border-bottom 0.05s, font-weight 0.1s;
}
.tabs .tab.active {
  font-weight: bold;
  border-bottom: 3px solid #4F5B93;
}
.tabs .tab sup {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 17.3333333333px;
}

/*# sourceMappingURL=style.css.map*/