@use "./variables";

select,
button,
input {
    height: variables.$main-height;
    border-radius: 0;
    border: thin solid rgba(variables.$primary, 0.7);
    padding: 0 10px;
}

select,
button {
    background-color: variables.$primary;
    color: white;
    text-align: center;
}

button,
select {
    border-radius: variables.$borderRadius;
}

.group_input {
    display: flex;
    align-items: center;
    justify-content: center;

    *:first-child {
        border-radius: variables.$borderRadius 0 0 variables.$borderRadius;
    }

    *:last-child {
        border-radius: 0 variables.$borderRadius variables.$borderRadius 0;
    }

    &:has(> :nth-child(2):last-child)>*,
    &:has(> :nth-child(3):last-child)> :nth-child(2) {
        flex-grow: 1;
    }
}

input {
    &:focus-visible {
        outline: none;
        border: thin solid rgba(variables.$primary, 1);
    }
}