@use "./variables";

.tabs {
    display: flex;
    height: variables.$main-height;
    gap: variables.$gap;
    list-style: none;
    border-bottom: 1px solid variables.$primary;

    .tab {
        cursor: pointer;
        height: variables.$main-height;
        line-height: variables.$main-height;
        padding: 0 10px;
        border-bottom: 1px solid variables.$primary;
        transition: border-bottom 0.05s, font-weight 0.1s;

        &.active {
            font-weight: bold;
            border-bottom: 3px solid variables.$primary;
        }
    }
}